
.heading-elements{
      left: 20px;
}
.heading-elements [class^="icon-"]{
  top: -2px;
}
.heading-elements .btn.text-size-small span{
  margin-left: 5px;
}
.borderless tr, .borderless td{
  border: none !important;
}

.borderless .panel-heading{
  padding-bottom: 0 !important;
}

.borderless td{
  padding-top: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.borderless{
  height: 200px !important;
    overflow-y: scroll; 
}