
.navbar-inverse{
  background: #951001 !important;
}
.heading-elements{
      left: 20px;
}
.heading-elements [class^="icon-"]{
  top: -2px;
}

.heading-elements .btn.text-size-small span{
  margin-left: 5px;
}

.borderless tr, .borderless td{
  border: none !important;
}

.borderless .panel-heading{
  padding-bottom: 0 !important;
}

.panel-heading{
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.borderless td{
  padding-top: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.borderless{
    overflow: hidden; 
}


.events-panel{
  margin-bottom: 10px;
}
.heading-elements{
  margin-left: 5px;
}

.heading-elements .active{
  background: #C00000;
  border: 0!important;
}

.text-info{
  color: #C00000 !important;
}

.widget-title.bg-success{
  color: #fff !important;
  padding: 10px !important;
}

.widget-title.bg-info{
  color: #fff !important;
  padding: 10px !important;
}

.heading-elements .active:hover{
  border: 0 !important;
  color: #fff !important;

}

.bg-warning {
    background-color: #FF5722 !important;
    color: #fff !important;
}

.bg-default {
    background-color: #2196F3 !important;
    color: #fff !important;
}

.heading-elements .active:hover> span{
  color: #fff !important;
}

.heading-elements .active .text-primary{
  color: #fff !important;
}
.heading-elements .active span{
  color: #fff !important;
}

.heading-elements .legitRipple{
  border: 1px solid #fff;
  margin-left: 5px;
}

.heading-elements .legitRipple:hover{
  border: 1px solid #C00000;
  color: #C00000 !importants;
}


.heading-elements .legitRipple:hover > span{
  color: #C00000 !important;
}

.heading-elements .legitRipple:hover > [class^="icon-"]{
  color: #C00000 !important;
}

.show-all{
  padding-bottom: 15px;
}
